* {

    font-family: Arial;
    background: rgb(0,33,71);
    color: lightblue;


}

h1 {

    color: lightgreen;

    font-size: 40px;

}

p {

    font-size: 18px;

    color: lightblue;

}

ul {
    font-size: 18px;

    color: lightblue;
    
}
